<h1>Upload file</h1>
<p id="notice"><%= notice %></p>
<%= render 'form', item: @item %>
<p>Rule:</p>
<ul>
  <li>Only <%= allowed_content_type %> file allowed.</li>
  <li>Max file size is <%= max_file_size_human %>.</li>
  <li>The file will be expired after <%= expired_time_human %>.</li>
</ul>