<p id="notice"><%= notice %></p>

<p>
  <strong>Download file</strong>
  <br>
  <%= "Filename: #{@item.file.filename}" %>
  <br>
  <%= link_to 'Download', rails_blob_path(@item.file, disposition: 'attachment') %>
  <p>You can copy this link and share with your friends.</p>
  <%= "#{request.base_url}/#{@item.download_url}" %>
  <p>This file will be expired after <span id='time' data-elapsed='<%= @item.elapsed %>'><%= @item.expired_after %></span>.</p>
  <%= link_to "Upload next file", root_path %>
</p>
